img{
    max-width: 300px;
    width: 100%;
    max-height: -webkit-fill-available;
}
button{
    display: block;
}
#app_content{
    display: flex;
    justify-content: space-evenly;
}
.same-height{
    padding: 2%;
    border: 1px solid #dfdfdf;
    display: flex;
    flex-direction: column;
    align-items: inherit;
    justify-content: space-between;
    height: 350px;
}
#catButton{
    margin-top: 44px;;
}
#error_message{
    color:red;
}
.favorite-article{
    width: 100%;
    max-width: 342px;
    display: inline-block;
    margin-right: 32px;
    margin-bottom: 32px;
}
.favorite-article img{
    width: 100%;
    max-width: 342px;
}
#contenido_de_favoritos{
    max-width: 1140px !important;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}